name: Release

on:
  push:
    branches:
      - main

env:
  CI: true
  LEFTHOOK: 0

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Generate GitHub App token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.SPROCKET_BOT_ID }}
          private_key: ${{ secrets.SPROCKET_BOT_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Packages
        run: pnpm build

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          title: 'Release Packages'
          createGithubReleases: true
          commit: 'Package Versioning'
          publish: pnpm exec changeset publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Add automerge label to release PR
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: automerge
          issue_number: ${{ steps.create_release_pr.outputs.pull_request_number }}
          github_token: ${{ steps.generate_token.outputs.token }}